@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

* {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-family: "Roboto", sans-serif;
}

.header {
  max-width: 70%;
  padding-top: 2rem;
  margin: 0 auto;
}

.title {
  font-size: 2em;
  text-transform: uppercase;
}

.main {
  max-width: 70%;
  margin: 0 auto;
}

.meme__card {
  border-top: 0.1rem solid rgb(186, 186, 186);
  cursor: pointer;
}

.meme__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 5rem;
  cursor: pointer;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.meme__title {
  color: blue;
  font-size: 1.5rem;
}

.meme__content {
  margin: 0 auto;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.5s;
}

.checkbox {
  display: none;
}

.checkbox:checked + .meme__header > .meme__content,
.meme__header {
  max-height: 30rem;
  height: 100%;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

.checkbox:checked + .meme__header > .wrapper > .meme__button {
  transform: rotate(45deg);
}

.meme__card > .checkbox:checked + .meme__header > .wrapper > .meme__title {
  color: black;
}

.meme__card:active .image {
  filter: grayscale(1) saturate(1.6) invert(0.05);
  transition: all 0.5s ease-in-out;
}

.meme__button {
  font-size: 2rem;
  transition: 0.5s;
}

.label {
  display: inline-block;
  width: 100%;
  height: 10rem;
}

.image {
  height: 25rem;
}

@media (any-hover: hover) {
  .meme__button {
    opacity: 0;
  }

  .memes:hover .meme__button {
    opacity: 1;
  }

  .meme__card:hover .meme__content {
    padding-bottom: 1rem;
    height: 30rem;
    opacity: 1;
    transition: all 0.5s ease-in-out;
  }

  @media (max-width: 500px) {
    .meme__card:hover .meme__content {
      height: 10rem;
      opacity: 1;
    }
  }

  .meme__card:hover .meme__header > .wrapper > .meme__button {
    transform: rotate(45deg);
  }

  .memes:hover .meme__header > .wrapper > .meme__title {
    color: black !important;
  }
}

@media (max-width: 820px) {
  .title {
    font-size: 1.5em;
  }

  .meme__title {
    font-size: 1.2rem;
  }

  .image {
    height: 18rem;
  }
}

@media (max-width: 320px) {
  .title {
    font-size: 1.1rem;
  }

  .checkbox:checked ~ .meme__content {
    height: 10rem;
  }

  .meme__title {
    font-size: 0.9rem;
  }

  .image {
    height: 10rem;
  }
}
